.gab-calendar-unit{
  float: left;
  width: 14.2857%;
  text-align: center;
  background-color: #fff;
}
div#chenken-reservation{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.chenken-table-responsive{
  height:400px;
  overflow: auto;
}

table.chenken-table{
  width:auto;
  position: relative;
}
table.chenken-table thead{
  position: relative;
}
table.chenken-table thead tr:first-child{
  position: absolute;
  top:0px;
  background-color: #fff;
}
table.chenken-table th{
  table-layout: fixed;
  padding: 8px 40px !important;
  white-space: nowrap;

}